# Common rules

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# .NET

[*.{csproj,slnx}]
indent_size = 2

[*.cs]
dotnet_analyzer_diagnostic.severity = warning
dotnet_sort_system_directives_first = false
file_header_template = Copyright (c) KappaDuck.\nLicensed under the MIT license.

# Bash

[*.sh]
end_of_line = lf

# Cmake

[*.cmake]
end_of_line = lf

# Environment files

[*.env]
end_of_line = lf

# Nuspec files

[*.nuspec]
indent_size = 2
end_of_line = lf

# Configuration files

[*.{config,props,targets,xml}]
indent_size = 2

# JSON files

[*.json]
indent_size = 2

# YAML files

[*.{yaml,yml}]
indent_size = 2

[*.{received,verified}.{txt,cs,json,xml}]
charset = utf-8-bom
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = false
indent_size = unset
indent_style = unset
tab_width = unset
