# Quack files

src/quack.playground.cs
SDL3/runtimes/

# build outputs

[Aa]rtifacts/
[Bb]uild/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Bb]in/
[Oo]bj/

# Visual Studio files

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Rider files

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/contentModel.xml
.idea/**/projectSettingsUpdater.xml
.idea/**/modules.xml
.idea/**/dataSources.local.xml
.idea/**/copilot*.xml
.idea/**/shelf/
.idea/**/dataSources/
.idea/**/httpRequests/
.idea/**/queries/
