[*.cs]

# Disabled Microsoft.VisualStudio.Threading.Analyzers rules

# VSTHRD111: Consider calling ConfigureAwait on the awaited task
# Reason: don't need to configure the await context
# https://github.com/Microsoft/vs-threading/blob/main/doc/analyzers/VSTHRD111.md
dotnet_diagnostic.VSTHRD111.severity = none

# VSTHRD200: Use "Async" suffix for async methods
# Reason: Don't need to use Async suffix for test methods and give better clarity
# https://github.com/Microsoft/vs-threading/blob/main/doc/analyzers/VSTHRD200.md
dotnet_diagnostic.VSTHRD200.severity = none

# Disabled rules

# IDE0021: Use expression body for constructors
# Reason: Disabled expression body to read the code easily
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0021
dotnet_diagnostic.IDE0021.severity = none

# IDE0022: Use expression body for methods
# Reason: Disabled expression body to read the code easily
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0022
dotnet_diagnostic.IDE0022.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
# Reason: No need to call ConfigureAwait in tests
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2007
dotnet_diagnostic.CA2007.severity = none
