name: Production

on:
  workflow_dispatch:
  release:
    types: [ published ]

permissions:
  contents: read
  checks: write

jobs:
  build:
    name: Build/Deploy
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get version
        shell: pwsh
        run: |
          $tag = "${{ github.event.release.tag_name }}"
          $version = $tag -replace '^v', ''
          echo "version=$version" >> $env:GITHUB_ENV

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
          dotnet-quality: preview

      - name: Install SDL dependencies
        run: dotnet .\src\install.sdl.cs

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration release --no-restore

      - name: Package
        run: dotnet pack --no-build --no-restore --output ./artifacts -p:PackageVersion=${{ env.version }}

      - name: Publish to NuGet
        run: dotnet nuget push "**/*.nupkg" --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate
